* { margin: 0; padding: 0; }
body {
    background-color: #ffffff;
    font-family: "Inter";
    font-size: 23px;
    line-height: 150%;
    color: #000000;
}

.main-header {
    background-color: #4862E7;
    height: 146px;
}

.site-navigation {
    height: 146px;
    display: flex;
    justify-content: space-between;
}

.site-navigation-group {
    display: flex;
    width: 34%;
    justify-content: space-around;
    margin: auto;
    align-items: center;
}

.site-navigation-item a {
    font-family: "Roboto Mono";
    font-size: 28px;
    text-decoration: none;
    color: #ffffff;
}

li:nth-child(4) {
    font-size: 40px;
    font-family: "Inter";
}

.site-navigation-item {
    list-style-type: none;
}

#logo {
    font-size: 40px;
    font-family: "Inter";
}

* {box-sizing: border-box;}
.search-button {
    position: relative;
    width: 291px;
    margin: 0 auto;
}
.search-button input {
    width: 100%;
    height: 61px;
    padding-left: 10px;
    border: none;
    border-radius: 40px;
    outline: none;
    background: #ffffff;
    color: #000000;
    font-family: "Inter";
    font-size: 22px;
}
.search-button button {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #ffffff;
    border-radius: 40px;
    cursor: pointer;
}
.search-button button:before {
    font-size: 22px;
    color: #000000;
}

.log-in-button {
    background-color: #00168A;
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    padding: 12px 30px;
}

.registration {
    background-color: rgba(72, 98, 231, 0.85);
    width: 646px;
    height: 429px;
    border-radius: 30px;
    margin: 5% auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in {
    background-color: rgba(72, 98, 231, 0.85);
    width: 646px;
    height: 320px;
    border-radius: 30px;
    margin: 5% auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #00168A;
}

.reg-input {
    display: block;
    width: 480px;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
}

.reg-button {
    width: 284px;
    height: 47px;
    background-color: #00168A;
    color: #ffffff;
    font-size: 23px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
    cursor: pointer;
    margin: 30px 20%;
}

.log-and-reg-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.log-in-button-2 {
    width: 190px;
    height: 40px;
    background-color: #00168A;
    color: #ffffff;
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: auto;
}

.reg-button-2 {
    width: 190px;
    height: 40px;
    background-color: #ffffff;
    color: #00168A;
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: auto;
    text-align: center;
}

.main-footer {
    background-color: #00168A;
    color: #ffffff;
    height: 86px;
    display: flex;
    align-items: center;
}

.dropbtn {
    padding: 5px;
    cursor: pointer;
    padding-right: 15px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00168A;
    width: 140px;
}

/*.dropbtn
{
  background: url('http://icons.iconarchive.com/icons/custom-icon-design/flag-3/16/Russia-Flag-icon.png') no-repeat left center;
  padding-left: 25px;
  width: 40px;
}*/

.dropbtn::after {
    background: rgba(0, 0, 0, 0) url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-16.png") no-repeat scroll center center;
    content: "";
    height: 16px;
    position: absolute;
    right: 0;
    top: 7px;
    width: 16px;
}

.dropdown-content a:first-child
{
  background: url('http://icons.iconarchive.com/icons/custom-icon-design/flag-3/16/Russia-Flag-icon.png') no-repeat left center;
}

.dropdown-content a:last-child
{
  background: url('https://icons.iconarchive.com/icons/fatcow/farm-fresh/16/flag-usa-icon.png') no-repeat left center;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #ffffff;
    padding: 2px 0 2px 25px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #00199B}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}