<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <title>GHOST BYTES</title>
  </head>
  <body>
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="site-navigation">
                <div class="site-navigation-group">
                    <li class="site-navigation-item">
                        <a href="#">Главная</a>
                    </li>
                    <li class="site-navigation-item">
                        <a href="profile.html">Портфолио</a>
                    </li>
                    <li class="site-navigation-item">
                        <a href="#">Рейтинг</a>
                    </li>
                </div>
                <div class="site-navigation-group">
                    <li class="site-navigation-item" >
                        <a href="#" id="logo">GhostBytes</a>
                    </li>
                </div>
                <div class="site-navigation-group">
                    <li class="site-navigation-item">
                         <form action="" method="get" class="search-button">
                            <input name="search" placeholder="Поиск..." type="search">
                            <button type="submit">
                                <span class="material-symbols-outlined">search</span>
                            </button>
                        </form>
                    </li>
                    <li class="site-navigation-item">
                        <a href="login.html" class="log-in-button">Войти</a>
                    </li>
                </div>
            </ul>
        </nav>
    </header>

    <main>
        <div class="log-in">
            <form action="" method="post">
                <label class="reg-label" for="username">Имя пользователя:</label>
                <input class="reg-input" type="text" id="username" name="username" required>

                <label class="reg-label" for="password">Пароль:</label>
                <input class="reg-input" type="password" id="password" name="password" required>
                <div class="log-and-reg-buttons">
                    <input class="log-in-button-2" type="submit" value="Войти">
                    <a class="reg-button-2" href="registration">Регистрация</a>
                </div>
              </form>
        </div>
    </main>

    <footer class="main-footer">
        <div class="dropdown">
            <div class="dropbtn">Язык</div>
            <div class="dropdown-content">
              <a href="#">Русский</a>
              <a href="#">English</a>
            </div>
          </div>
    </footer>
  </body>
</html>